{% extends 'main.html' %}


{% block content %}
<div class="container-lg mt-4">
  <div class="row mb-2">
    <div class="col-4">
      {% if messages %}
      {% for message in messages %}
      <h6>“Expense created successfully!”</h6>
      {% endfor %}
      {% else %}
      <h6> “Expense Manager.” {{ request.user.username }}</h6>
      {% endif %}

      {% if request.user.is_authenticated %}
      <span><a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Logout</a></span>
      {% else %}
      <span><a class="btn btn-primary btn-sm" href="{% url 'login' %}">Login</a></span>
      {% endif %}

    </div>
    <div class="col">
      <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Filter by Date of Expense">
      </form>
    </div>
    <div class="col">
      <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search Expense by Name">
      </form>
    </div>
    <div class="col">
      <a href="{% url 'newExpense' %}" class="btn btn-success btn-sm " type="submit">+New Expense</a>
    </div>
  </div>
</div>
<div class="table-responsive fs-6 fw-light">
  <table class="table table-sm table-hover table-bordered bordered-dark">
    <thead>
      <tr>
        <th class="table-secondary" scope="col">Name</th>
        <th class="table-secondary" scope="col">Category</th>
        <th class="table-secondary" scope="col">Date of Expense</th>
        <th class="table-secondary" scope="col">Amount</th>
        <th class="table-secondary" scope="col">Updated At</th>
        <th class="table-secondary" scope="col">Created by</th>
        <th class="table-secondary" scope="col"></th>
      </tr>
    </thead>
    {% for expense in expenses %}
    <tbody>
      <tr>
        <th scope="row" style="font-weight: 400;"><a class="text-decoration-none fw-light" style="color: black;"
            href="{% url 'view' expense.id %}">{{ expense.name }} </a></th>
        <td>{{ expense.category }}</td>
        <td>{{ expense.data_of_expense}}</td>
        <td>INR {{ expense.amount }}</td>
        <td>{{ expense.updated|timesince }} ago</td>
        <td>{{ expense.host }}</td>
        <td>
          {% if request.user == expense.host %}
          <a href="{% url 'updateExpense' expense.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
            </svg></a>
          <a href="{% url 'deleteExpense' expense.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-trash-fill" style="color: red;" viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
            </svg></a>
            {% endif %}
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
</div>

{% endblock %}