{% extends 'main.html' %} {% block content %}
<div class="container-sm">
  <h1>Loin</h1>
  {% if messages %} {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %} {% endif %}
  <form method="POST" action="">
    {% csrf_token %}
    <label>username:</label>
    <input class="form-control" type="text" name="username" placeholder="Enter Username" />

    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Enter password" />

    <p>Don't have an Account?<a href="{% url 'register' %}"> Create New</a></p>
    <input class="btn btn-success btn-sm" type="submit" value="Submit" />
  </form>
</div>
{% endblock %}